[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "nerdtree-git-plugin"]
	path = vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/plugins/start/ctrlp.vim"]
	path = vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/plugins/start/vim-trailing-whitespace"]
	path = vim/pack/plugins/start/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule "vim/pack/plugins/start/vim-orgmode"]
	path = vim/pack/plugins/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "vim/pack/plugins/start/vim-speeddating"]
	path = vim/pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/pack/plugins/start/vim-repeat"]
	path = vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/plugins/start/calendar-vim"]
	path = vim/pack/plugins/start/calendar-vim
	url = https://github.com/mattn/calendar-vim
[submodule "vim/pack/plugins/start/SyntaxRange"]
	path = vim/pack/plugins/start/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
	ignore = dirty
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/pack/plugins/start/taglist"]
	path = vim/pack/plugins/start/taglist
	url = https://github.com/yegappan/taglist.git
	ignore = dirty
[submodule "vim/pack/plugins/start/coc"]
	path = vim/pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/pack/plugins/start/coc-python"]
	path = vim/pack/plugins/start/coc-python
	url = https://github.com/neoclide/coc-python
[submodule "vim/pack/local/start/editorconfig-vim"]
	path = vim/pack/local/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
